<div class="row">
    <div class="col-10 mt-2">
        <h1>Detalle de movimientos</h1>
    </div>
</div>
<div class="row mt-2">
    <div class="col-3 offset-2">
        <h4>Balance: S/ {{balance}}</h4>
    </div>
    <div class="col-2 offset-1">
      <div class="form-floating mb-3">
        <input type="month" class="form-control" id="floatingInput" placeholder="MM-YYYY">
        <label for="floatingInput">Periodo</label>
      </div>
    </div>
    <div class="col-1 offset-1">
        <button class="btn btn-success" type="button" routerLink="../../movimiento/movimiento-registrar">Registrar</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-8 offset-2">
      <app-movimiento-detalle-tabla [movimientos]="movimientos"></app-movimiento-detalle-tabla>
    </div>
</div>
