<form #form="ngForm">
    <div class="row mt-2">
        <h2>Registrar Movimiento</h2>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="Fecha" name="fecha" [(ngModel)]="movimiento_model.fecha">
                <label for="floatingInput">Fecha</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="medio_financiero" [(ngModel)]="movimiento_model.id_medio_financiero">
                    <option value="1">Tarjeta BCP</option>
                    <option value="2">Tarjeta BBVA</option>
                    <option value="3">Efectivo</option>
                </select>
                <label for="floatingSelect">Medio financiero</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="id_tipo_movimiento" [(ngModel)]="movimiento_model.id_tipo_movimiento">
                    <option value="1">Egreso</option>
                    <option value="2">Ingreso</option>
                </select>
                <label for="floatingSelect">Tipo Movimiento</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="monto" [(ngModel)]="movimiento_model.monto">
                <label for="floatingInput">Monto</label>
              </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="id_moneda" [(ngModel)]="movimiento_model.id_moneda">
                    <option value="1">Soles</option>
                    <option value="2">Dolares</option>
                </select>
                <label for="floatingSelect">Moneda</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="descripcion" [(ngModel)]="movimiento_model.descripcion"
                    style="height: 100px; resize: none;"></textarea>
                <label for="floatingTextarea2">Descripción</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="btnRegistrar()">Registrar</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary" (click)="btnCancelar()">Cancelar</button>
        </div>
    </div>
</form>
